<div>
    <div class="container">
        <h2>About Us</h2>
        <p>This app <span>Quiz on Cloud</span> is a sample work of Puneet Aggarwal and Nikhil Singh. This app is developed on MEAN steak i.e using MangoDB, Express Module, AngularJS and Node.js.
            <br> Bootstrap is used for UI.   </p>

        <h4>About App</h4>
        <p>Students can first register into the app, then they can proceed to give quizzes on various topics wich can be added by the admin such as HTML5, JavaScript, CSS3 and many more.
        </p>

        <!-- <h3>Muddassir Khanani</h3>
        <p>He is an MSP, And CEO & Founder of the KDEVELOPER.  </p> -->
    </div>
</div>